@import url("https://fonts.googleapis.com/css2?family=Chewy&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@font-face {
  font-family: fontJapan;
  src: url("/fonts/Japan wave.ttf");
}
@keyframes iconMove {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(10deg);
    scale: 125%;
  }
  100% {
    transform: rotate(0deg);
  }
}
.specialday__section .mark__section, main .menu__section .mark__section, main .about__section .mark__section {
  width: 25px;
  height: 25px;
}

footer .footer__title h1, footer .asked__questions, main .menu__section .menu__container .slogan, main .title__section, main .about__section .feature, .carta, main .menu__section .menu__container .menu__info, main .hero__section .title, header span {
  font-family: fontJapan;
}

main .menu__section .menu__container .menu__info, main .hero__section .title, header span {
  color: #ca4a3a;
  letter-spacing: normal;
}

header .btn__reserva {
  background: #ca4a3a;
  color: white;
}
header .btn__reserva:hover {
  border: 1px solid #ca4a3a;
  color: #ca4a3a;
}

.reserva svg {
  padding: 10px;
  animation: iconMove 2s ease-in-out infinite;
  color: #ca4a3a;
  transition: color 0.5s ease-in-out;
}
.reserva svg:hover {
  border-radius: 10px;
  background: #ca4a3a;
  color: white;
}

.carta {
  color: #ca4a3a;
  text-decoration: none;
}
.carta:hover {
  -webkit-text-decoration: wavy;
          text-decoration: wavy;
  text-decoration-line: underline;
  text-underline-offset: 10px;
}

main .hero__section .title {
  font-size: clamp(16px, 10vw, 96px);
  font-weight: bold;
}
main .hero__section .description {
  color: #ca4a3a;
  font-size: clamp(14px, 5vw, 22px);
}
main .hero__section .hero__images {
  gap: 100px;
}
main .hero__section .hero__images .image-1 {
  transform: rotate(-10deg);
  background-image: url("/images/kioto/hero-1.jpeg");
  background-size: cover;
  width: 300px;
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
}
@media (max-width: 556px) {
  main .hero__section .hero__images .image-1 {
    width: 125px;
    height: 225px;
  }
}
main .hero__section .hero__images .image-2 {
  transform: rotate(10deg) translateY(-70px);
  background-image: url("/images/kioto/hero-2.jpeg");
  background-size: cover;
  width: 300px;
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
}
@media (max-width: 556px) {
  main .hero__section .hero__images .image-2 {
    width: 125px;
    height: 225px;
  }
}
main .hero__section .hero__images .image-3 {
  transform: rotate(10deg);
  background-image: url("/images/kioto/hero-3.jpeg");
  background-size: cover;
  width: 300px;
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
}
@media (max-width: 556px) {
  main .hero__section .hero__images .image-3 {
    width: 125px;
    height: 225px;
  }
}
main .about__section {
  width: 100%;
}
main .about__section .about__title {
  font-family: fontJapan;
  color: #ca4a3a;
}
main .about__section .feature {
  color: #ca4a3a;
}
main .about__section .mark__section {
  background: #ca4a3a;
}
main .about__section .image-about-1 {
  background: url("/images/kioto/about-1.webp");
  background-size: cover;
  height: 500px;
}
main .about__section .image-about-2 {
  background: url("/images/kioto/about-2.jpg");
  background-size: cover;
  height: 500px;
}
main .title__section {
  color: #ca4a3a;
}
main .menu__section .mark__section {
  background: #ca4a3a;
}
main .menu__section .menu__container .col {
  margin: 0;
  padding: 0;
}
main .menu__section .menu__container span {
  display: none;
}
main .menu__section .menu__container img {
  transition: scale 1s ease-in-out, filter 1s ease-in-out;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  height: 300px;
  width: 100%;
}
main .menu__section .menu__container a {
  color: white;
  cursor: pointer;
}
main .menu__section .menu__container a:hover span {
  display: flex;
}
main .menu__section .menu__container a:hover img {
  filter: brightness(70%);
  scale: 110%;
}
.specialday__section .mark__section {
  background: #ca4a3a;
}

footer {
  width: 100%;
  background: #ca4a3a;
}
footer .asked__questions .accordion {
  background: #ca4a3a !important;
}
footer a {
  color: white;
  text-decoration: none;
  font-family: "Chewy", serif;
}
footer a:hover {
  -webkit-text-decoration: dashed;
          text-decoration: dashed;
  text-decoration-line: underline;
  text-underline-offset: 10px;
}
footer .footer__title h1 {
  font-size: 10vw;
  letter-spacing: 10px;
}
@media (min-width: 576px) {
  footer .footer__title h1 {
    letter-spacing: 40px;
  }
}/*# sourceMappingURL=kioto.css.map */