@font-face {
  font-family: fontJapan;
  src: url("/fonts/Japan\ wave.ttf");
}
@mixin imagesHero {
  @for $i from 1 through 3 {
    .image-#{$i} {
      @if $i == 1 {
        transform: rotate(-10deg);
      } @else if $i == 2 {
        transform: rotate(10deg) translateY(-70px);
      } @else {
        transform: rotate(10deg);
      }
      background-image: url("/images/kioto/hero-#{$i}.jpeg");
      background-size: cover;
      width: 300px;
      background-repeat: no-repeat;
      background-position: center;
      height: 400px;
      @media (max-width: 556px) {
        width: 125px;
        height: 225px;
      }
    }
  }
}
@mixin imagesabout() {
  @for $i from 1 through 2 {
    $extension: "";
    .image-about-#{$i} {
      @if $i == 1 {
        $extension: ".webp";
      } @else {
        $extension: ".jpg";
      }
      background: url("/images/kioto/about-#{$i}#{$extension}");
      background-size: cover;
      height: 500px;
    }
  }
}
%mark {
  width: 25px;
  height: 25px;
}
$main_color: #ca4a3a;
%font {
  font-family: fontJapan;
}
%title {
  @extend %font;
  color: $main_color;
  letter-spacing: normal;
}

header {
  span {
    @extend %title;
  }
  .btn__reserva {
    background: $main_color;
    color: white;
    &:hover {
      border: 1px solid $main_color;
      color: $main_color;
    }
  }
}
.reserva {
  svg {
    padding: 10px;
    animation: iconMove 2s ease-in-out infinite;
    color: $main_color;
    transition: color 0.5s ease-in-out;
    &:hover {
      border-radius: 10px;
      background: $main_color;
      color: white;
    }
  }
}
main {
  .hero__section {
    .title {
      @extend %title;
      font-size: clamp(16px, 10vw, 96px);
      font-weight: bold;
    }
    .description {
      color: $main_color;
    }
    .hero__images {
      gap: 100px;
      @include imagesHero();
    }
  }
  .about__section {
    .about__title {
      font-family: fontJapan;
    }
    .feature {
      @extend %font;
    }
    width: 100%;
    background: $main_color;
    .mark__section {
      @extend %mark;
      background: white;
    }

    @include imagesabout();
  }
  .title__section {
    @extend %font;
    color: $main_color;
  }
  .menu__section {
    .mark__section {
      @extend %mark;
      background: $main_color;
    }

    .menu__container {
      .col {
        margin: 0;
        padding: 0;
      }
      .menu__info {
        @extend %title;
      }
      span {
        display: none;
      }
      img {
        transition: scale 1s ease-in-out, filter 1s ease-in-out;
        object-fit: cover;
        height: 300px;
        width: 100%;
      }
      a {
        color: white;
        &:hover {
          span {
            display: flex;
          }
          img {
            filter: brightness(70%);
            scale: 110%;
          }
        }
      }
      .slogan {
        @extend %font;
      }
    }
  }
}
.specialday__section {
  .mark__section {
    @extend %mark;
    background: $main_color;
  }
}
footer {
  .asked__questions {
    @extend %font;
    .accordion {
      background: #ca4a3a !important;
    }
  }
  a {
    color: white;
    text-decoration: none;
    font-family: "Chewy", serif;
    &:hover {
      text-decoration: dashed;
      text-decoration-line: underline;
      text-underline-offset: 10px;
    }
  }
  width: 100%;
  background: $main_color;

  .footer__title {
    h1 {
      @extend %font;
      font-size: 10vw;
      letter-spacing: 10px;
    }
    @media (min-width: 576px) {
      h1 {
        letter-spacing: 40px;
      }
    }
  }
}
