@import url("https://fonts.googleapis.com/css2?family=Chewy&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@function random($images) {
  $length: length($images);
  $randomIndex: random($length);
  @return $randomIndex;
}
@mixin setCities($cities) {
  @each $city in $cities {
    .#{$city}__bento {
      span {
        font-family: "Chewy", serif;
        font-weight: lighter;
      }
      @if $city == kioto {
        background: $kioto_color;
      } @else if $city == dublin {
        background: $dublin_color;
      } @else {
        background: $munich_color;
      }
      padding: 10px;
      width: 100%;
      height: 33%;
      @include transitionBento();
    }
  }
}
@mixin transitionBento {
  transition: scale 0.1s ease-in-out, rotate 1s ease-in-out;
  &:hover {
    transform: rotate(-10deg);
    scale: 150%;
    @media (max-width: 576px) {
      scale: 105%;
    }

    span {
      font-weight: bold;
      text-decoration: dotted;
      text-decoration-line: underline;
      text-underline-offset: 10px;
    }
    svg {
      transform: translateX(10px);
    }
  }
}
@mixin restaurants($restaurants) {
  @each $restaurant in $restaurants {
    .restaurant__#{$restaurant} {
      transition: transform 2s ease-in-out;
      h2 {
        font-family: "Chewy", serif;
      }

      img {
        filter: brightness(70%);
        transition: scale 1s ease-in-out, filter 1s ease-in-out;
      }
      p {
        display: none;
      }

      &:hover {
        p {
          @media (min-width: 576px) {
            padding: 10px;
            display: flex;
          }
        }
        img {
          scale: 110%;
          filter: brightness(60%);
        }
      }
    }
  }
}
@mixin animationImages($index) {
  @keyframes animationImage-#{$index} {
    0% {
      background-image: url("/images/bento/image-#{$index}.webp");
    }
    25% {
      background-image: url("/images/bento/image-#{$index}-1.webp");
    }
    50% {
      background-image: url("/images/bento/image-#{$index}-2.webp");
    }
    75% {
      background-image: url("/images/bento/image-#{$index}-3.webp");
    }
    100% {
      background-image: url("/images/bento/image-#{$index}-4.webp");
    }
  }
}

@mixin imagesBento($images) {
  $index: 1;
  @each $image in $images {
    .image-#{$index} {
      @include animationImages($index);
      animation: animationImage-#{$index} 10s linear infinite;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      grid-area: image-#{$index};
    }
    $index: $index + 1;
  }
}

$main_color: #ca4a3a;
%title {
  font-family: "Chewy", serif;
  font-weight: bold;
  color: $main_color;
  letter-spacing: normal;
}
$munich_color: #d3c1c3ff;
$almond: #e2d0beff;
$kioto_color: #eee5bfff;
$tea-green: #e8f8c1ff;
$dublin_color: #d1ffc6ff;
@keyframes iconMove {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(10deg);
    scale: 125%;
  }
  100% {
    transform: rotate(0deg);
  }
}

body {
  font-family: "Inter", serif;
}
header {
  position: fixed;
  top: 0;
  z-index: 1;
  background: white;
  width: 100%;
  span {
    @extend %title;
  }
  @media (min-width: 576px) {
    span {
      letter-spacing: 10px;
    }
  }

  a {
    color: black;
    text-decoration: none;
    font-weight: 200;
    &:hover {
      font-weight: bold;
      text-decoration: dotted;
      text-decoration-line: underline;
      text-underline-offset: 10px;
      text-decoration-color: $main_color;
    }
  }
  .btn__reserva {
    background: $main_color;
    color: white;
    &:hover {
      border: 1px solid $main_color;
      color: $main_color;
    }
  }
}
.reserva {
  svg {
    padding: 10px;
    animation: iconMove 2s ease-in-out infinite;
    color: $main_color;
    transition: color 0.5s ease-in-out;
    &:hover {
      border-radius: 10px;
      background: $main_color;
      color: white;
    }
  }
}
.grid__bento {
  display: grid;
  gap: 20px;
  width: 100%;
  height: 800px;

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 0.5fr 1fr;
  grid-template-areas:
    "image-1 image-2 image-3"
    "image-4 image-5 title"
    "image-4 image-5 restaurants";
  $images: image-1, image-2, image-3, image-4, image-5;
  @include imagesBento($images);
}
@media (max-width: 1024px) {
  .grid__bento {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "image-1 image-2"
      "image-3 title"
      "image-3 restaurants";
    .image-4 {
      display: none;
    }
    .image-5 {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .grid__bento {
    grid-template-columns: 1fr;
    grid-template-areas:
      "image-1"
      "title"
      "restaurants";
    .image-2 {
      display: none;
    }
    .image-3 {
      display: none;
    }
    .image-4 {
      display: none;
    }
    .image-5 {
      display: none;
    }
  }
}
.title__bento {
  @include transitionBento();
  grid-area: title;
  background: $main_color;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  color: white;
  h2 {
    font-family: "Chewy", serif;
    font-size: clamp(14px, 10vw, 42px);
    font-weight: bolder;
    color: white;
  }
  &:hover {
    text-decoration: dashed;
    text-decoration-line: underline;
    text-underline-offset: 10px;
  }
}

.restaurant__title {
  font-family: "Chewy", serif;
  color: $main_color;
}
.restaurants__bento {
  padding: 10px;
  grid-area: restaurants;
  display: flex;
  flex-direction: column;
  gap: 30px;

  a {
    color: black;
    text-decoration: none;
  }
  $cities: kioto, dublin, munich;
  @include setCities($cities);
}
.restaurants__section {
  a {
    color: white;
  }
  img {
    object-fit: cover;
    height: 300px;
  }
  $restaurants: kioto, dublin, munich;
  @include restaurants($restaurants);
}
footer {
  .asked__questions {
    width: 100%;
    h2 {
      font-family: "Chewy", serif;
    }

    button {
      font-weight: bold;
color: white;
      width: 100%;
      border: none;
      background: transparent;
    }
  }
  a {
    color: white;
    text-decoration: none;
    font-family: "Chewy", serif;
    &:hover {
      text-decoration: dashed;
      text-decoration-line: underline;
      text-underline-offset: 10px;
    }
  }
  width: 100%;
  background: $main_color;

  .footer__title {
    h1 {
      font-family: "Chewy", serif;
      font-size: 10vw;
      letter-spacing: 10px;
    }
    @media (min-width: 576px) {
      h1 {
        letter-spacing: 40px;
      }
    }
  }
}
.offcanvas-header {
  span {
    color: $main_color;
    font-family: "Chewy", serif;
    letter-spacing: 10px;
  }
}
